.categoria{
    width: 100%;
    padding: 32px;
    background-color: #060114;
    box-sizing: border-box;
    text-align: start;
    font-size: 32px;
}

.categoria h3{
    font-weight: 400;
    color: white;
    border-bottom: 4px solid;
    padding-bottom: 8px;
}

